<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <!-- Обычные мета-теги -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Студия Ольги Лазуреко. Окрашивание, укладки, стрижки и уходовые процедуры за волосами">
    <meta name="keywords" content="Окрашивание, Стрижка, Укладка, Уход за волосами, Студия Ольги Лазуренко, Лазуренко, Ольга Лазуренко, Студия красоты, Салон красоты">
    <meta name="author" content="Лазуренко Сергей">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <!-- Open Graph теги -->
    <meta property="og:title" content="Студия красоты Ольги Лазуренко">
    <meta property="og:description" content="Окрашивания, стрижки, укладки и уход за волосами в лучшей студии красоты Ростова-на-Дону. Позволь себе выглядить сногшибательно!">
    <meta property="og:image" content="{% static 'images/navbarImages/logo.svg' %}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Студия красоты Ольги Лазуренко">
    <meta property="og:locale" content="ru_RU">
    <!-- Название вкладки в браузере -->
    <title>Студия Ольги Лазуренко</title>
    <!-- Картинка во вкладке -->
    <link rel="icon" type="image/x-icon" href="{% static 'images/navbarImages/logo.svg' %}">
    <!-- Подключение шрифтов и стилей -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    <link rel="stylesheet" href="{% static 'styles/footer.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    <main>
        <div class="slider">
            <div class="slider_purchaseWords">
                <p class="slider_purchaseWords__text">Стиль, который говорит за вас.</p>
                <div class="slider_purchaseWords__buttons">
                    <a href="/services"><button class="purchaseWords_buttons__button">Прайс-лист</button></a>
                    <a href="/gallery"><button class="purchaseWords_buttons__button">Галерея</button></a>
                </div>
            </div>

            <div class="slider_overlay" id="overlay"></div>
        </div>

        <div class="studioBlock">
            <div class="studioBlock_director">
                <img src="{% static 'images/homeImages/director.jpg' %}" alt="{% static 'images/homeImages/director.jpg' %}" class="studioBlock_director__img">
                <div class="studioBlock_director__information">
<p class="director_information__title">Меня зовут Ольга Лазуренко</p>
<p class="director_information__text">Я директор студии, стилист и стилист-колорист с 20-летним стажем. В моих руках ваши волосы расцветут прямо на ваших глазах! А в моей студии вы получите незабываемое обслуживание и приятные воспоминания. Также у нас есть обучение этому прекрасному искусству!</p>
                </div>
            </div>
            <div class="studioBlock_photos">
                <img src="{%  static 'images/homeImages/studioImg1.png' %}" alt="{% static 'images/homeImages/director.jpg' %}" class="studioBlock_photos__photo">
                <img src="{%  static 'images/homeImages/studioImg2.png' %}" alt="{% static 'images/homeImages/director.jpg' %}" class="studioBlock_photos__photo">
                <img src="{%  static 'images/homeImages/studioImg3.png' %}" alt="{% static 'images/homeImages/director.jpg' %}" class="studioBlock_photos__photo">
                <img src="{%  static 'images/homeImages/studioImg4.png' %}" alt="{% static 'images/homeImages/director.jpg' %}" class="studioBlock_photos__photo">
            </div>
        </div>

        <div class="serviceBlock">
            <p class="serviceBlock_title">Ознакомься с услугами</p>
            <div class="serviceBlock_cards">
                <a href="/services">
                    <div class="serviceBlock_cards__card">
                        <img src="{%  static 'images/homeImages/serviceImg1.png' %}" alt="{% static 'images/homeImages/director.jpg' %}" class="cards_card__img">
                        <p class="cards_card__title">Окрашивание</p>
                    </div>
                </a>
                <a href="/services">
                    <div class="serviceBlock_cards__card">
                        <img src="{%  static 'images/homeImages/serviceImg2.png' %}" alt="{% static 'images/homeImages/director.jpg' %}" class="cards_card__img">
                        <p class="cards_card__title">Стрижка</p>
                    </div>
                </a>
                <a href="/services">
                    <div class="serviceBlock_cards__card">
                        <img src="{%  static 'images/homeImages/serviceImg3.png' %}" alt="{% static 'images/homeImages/director.jpg' %}" class="cards_card__img">
                        <p class="cards_card__title">Укладка</p>
                    </div>
                </a>
                <a href="/services">
                    <div class="serviceBlock_cards__card">
                        <img src="{%  static 'images/homeImages/serviceImg4.png' %}" alt="{% static 'images/homeImages/director.jpg' %}" class="cards_card__img">
                        <p class="cards_card__title">Уходовые процедуры</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="galleryBlock">
        <p class="galleryBlock_title">Посмотри работы</p>
        <!-- Swiper -->
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="/gallery"><img src="{% static 'images/homeImages/slide1.png' %}" alt="{% static 'images/homeImages/director.jpg' %}"/></a>
                    </div>
                    <div class="swiper-slide">
                         <a href="/gallery"><img src="{% static 'images/homeImages/slide2.png' %}" alt="{% static 'images/homeImages/director.jpg' %}"/></a>
                    </div>
                    <div class="swiper-slide">
                         <a href="/gallery"><img src="{% static 'images/homeImages/slide3.png' %}" alt="{% static 'images/homeImages/director.jpg' %}"/></a>
                    </div>
                    <div class="swiper-slide">
                         <a href="/gallery"><img src="{% static 'images/homeImages/slide4.png' %}" alt="{% static 'images/homeImages/director.jpg' %}"/></a>
                    </div>
                    <div class="swiper-slide">
                         <a href="/gallery"><img src="{% static 'images/homeImages/slide5.png' %}" alt="{% static 'images/homeImages/director.jpg' %}"/></a>
                    </div>
                    <div class="swiper-slide">
                         <a href="/gallery"><img src="{% static 'images/homeImages/slide6.png' %}" alt="{% static 'images/homeImages/director.jpg' %}"/></a>
                    </div>
                    <div class="swiper-slide">
                         <a href="/gallery"><img src="{% static 'images/homeImages/slide7.png' %}" alt="{% static 'images/homeImages/director.jpg' %}"/></a>
                    </div>
                    <div class="swiper-slide">
                         <a href="/gallery"><img src="{% static 'images/homeImages/slide8.png' %}" alt="{% static 'images/homeImages/director.jpg' %}"/></a>
                    </div>
                    <div class="swiper-slide">
                         <a href="/gallery"><img src="{% static 'images/homeImages/slide9.png' %}" alt="{% static 'images/homeImages/director.jpg' %}"/></a>
                    </div>
                </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            </div>
        </div>
            <div class="offerBlock">
                <div class="offerBlock_offerText">
                    <p class="offerBlock_offerText__title">Понравились услуги?</p>
                    <div class="offerBlock_offerText__buttons">
                        <a href="/services"><button class="offerText_buttons__button">Прайс-лист</button></a>
                        <a href="/order"><button class="offerText_buttons__button">Запись</button></a>
                    </div>
                </div>
            </div>
        </main>
        {% include 'footer.html' %}

        <div class="callBackFormOverlay" id="overlayCallBackForm"></div>
        <div class="messageFormContainer" id="callBackForm">
            <div class="messageFormContainer_titleLevel">
                <p class="messageFormContainer_titleLevel__title">Отправка сообщения</p>
                <img src="{% static 'images/homeImages/cross.svg' %}" alt="{% static 'images/homeImages/director.jpg' %}" id="closeCallBackForm">
            </div>
            <form method="POST" action="" class="messageFormContainer_messageForm">
                {% csrf_token %}
                {{ formCallBack.as_p }}
                <p class="messageFormContainer_messageForm__text">Нажимая "записаться" вы соглашаетесь с <a href="/privacy">положением</a> об обработки персональных данных</p>
                <input type="submit" value="Отправить" class="messageFormContainer_messageForm__submitButton">
            </form>
        </div>
</body>
<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<!-- Initialize Swiper -->
<script src="{% static 'scripts/slider.js' %}"></script>
<script src="{% static 'scripts/navbar.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'scripts/jquery.inputmask.min.js' %}"></script>
<script src="{% static 'scripts/callBackForm.js' %}"></script>
</html>
