<!DOCTYPE html>
{% load static %}
<head>
    <!-- Обычные мета-теги -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Студия Ольги Лазуреко. Окрашивание, укладки, стрижки и уходовые процедуры за волосами">
    <meta name="keywords" content="Окрашивание, Стрижка, Укладка, Уход за волосами, Студия Ольги Лазуренко, Лазуренко, Ольга Лазуренко, Студия красоты, Салон красоты">
    <meta name="author" content="Лазуренко Сергей">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <!-- Open Graph теги -->
    <meta property="og:title" content="Студия красоты Ольги Лазуренко">
    <meta property="og:description" content="Окрашивания, стрижки, укладки и уход за волосами в лучшей студии красоты Ростова-на-Дону. Позволь себе выглядить сногшибательно!">
    <meta property="og:image" content="{% static 'images/navbarImages/logo.svg' %}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Студия красоты Ольги Лазуренко">
    <meta property="og:locale" content="ru_RU">
    <!-- Название вкладки в браузере -->
    <title>Студия Ольги Лазуренко</title>
    <!-- Картинка во вкладке -->
    <link rel="icon" type="image/x-icon" href="{% static 'images/navbarImages/logo.svg' %}">
    <!-- Подключение шрифтов и стилей -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    <link rel="stylesheet" href="{% static 'styles/services.css' %}">
    <link rel="stylesheet" href="{% static 'styles/completeForm.css' %}">
    <link rel="stylesheet" href="{% static 'styles/order.css' %}">
    <link rel="stylesheet" href="{% static 'styles/gallery.css' %}">
    <link rel="stylesheet" href="{% static 'styles/partnership.css' %}">
    <link rel="stylesheet" href="{% static 'styles/footer.css' %}">

</head>
<body>
    {% include 'navbar.html' %}

    {% block content %}

    {% endblock %}

    {% include 'footer.html' %}
</body>
</html>